/* Provide sufficient contrast against white background */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(241, 241, 241, 0.623);

}

.bg-pattern {
    --s: 120px; /* control the size */
    --c1: #ffea2948;
    --c2: #f43f5e;
    
    --_g:radial-gradient(#0000 60%,var(--c1) 61% 63%,#0000 64% 77%,var(--c1) 78% 80%,#0000 81%);
    --_c:,#0000 75%,var(--c2) 0;
    background:
      conic-gradient(at 12% 20% var(--_c)) calc(var(--s)* .44) calc(.9*var(--s)),
      conic-gradient(at 12% 20% var(--_c)) calc(var(--s)*-.06) calc(.4*var(--s)),
      conic-gradient(at 20% 12% var(--_c)) calc(.9*var(--s)) calc(var(--s)* .44),
      conic-gradient(at 20% 12% var(--_c)) calc(.4*var(--s)) calc(var(--s)*-.06),
      var(--_g),var(--_g) calc(var(--s)/2) calc(var(--s)/2) var(--c2);
    background-size: var(--s) var(--s);
  }
  

  .bg-photo{
    width: 100%;
    background-image:  linear-gradient(to bottom, rgba(169, 255, 119, 0.418), rgba(255, 218, 51, 0.568)),
    url('./bg.jpg');;
  /*  background-attachment: fixed;
    background-position: center;
    background-size: cover;*/
    
  }
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff78a;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
  
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .friwo-flag .swiper-slide-next {
    filter: blur(4px);
  }

  .friwo-flag .swiper-slide-prev {
    filter: blur(8px);
  }
  
  .friwo-flag .swiper-slide-visible {
    filter: blur(8px);
  }
  .friwo-flag .swiper-slide-visible {
    filter: blur(8px);
  }
  .friwo-flag .swiper-slide-active {
    filter: blur(0px);
  }

  
  .animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .swiper-slide {
  
    height: auto !important;
   
}